---
import PageLayout from "@/layouts/Base";

import technologies from "@/data/technologies.json";
import Skill from "@/components/Skill";

const meta = {
	title: "About",
	description: "about me",
};
---

<PageLayout meta={meta}>
	<section aria-labelledby="section-title">
		<h2 class="mb-4 text-2xl font-bold tracking-tight text-zinc-300" id="section-title">
			Background
		</h2>
		<p class="mb-8 max-w-prose font-normal leading-relaxed text-zinc-400">
			I am a software engineering student at SMU Medtech. Libya born and raised, currently residing in Tunis.
			A proud Muslim, Alhamdulillah. 
		<p class="mb-8 max-w-prose font-normal leading-relaxed text-zinc-400">
			The goal is to be a key to goodness and leave behind a legacy of goodness and beneficial knowledge.
		</p>
		</p>
	</section>

	<section class="mt-10 sm:mt-14" aria-labelledby="section-title">
		<h2 class="mb-4 text-2xl font-bold tracking-tight text-zinc-300" id="section-title">
			Interests
		</h2>
		<p class="mb-8 max-w-prose font-normal leading-relaxed text-zinc-400">
			I love the whole process and evolution of building applications and tools, in particular those
			that are of use to me and others. Also a big Linux and open source nerd. Football (AC Milan)
			and UFC fan.
		</p>
	</section>

	<section class="mt-10 sm:mt-14" aria-labelledby="section-title">
		<h2 class="mb-4 text-2xl font-bold tracking-tight text-zinc-300" id="section-title">Tech</h2>
		<p class="mb-8 max-w-prose font-normal leading-relaxed text-zinc-400">
			I love exploring a wide variety of languages, tools, libraries and frameworks. Here are some
			technologies that I am actively learning and exploring
		</p>
		<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
			{technologies.map((tech) => <Skill logo={tech.logo} text={tech.text} />)}
		</ul>
	</section>
</PageLayout>
