---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	title: "About",
	description: "About El Zubeir Huweidi",
};
---

<PageLayout meta={meta}>
	<div class="prose prose-cactus mb-8 max-w-none">
		<h2 class="mb-4">whoami</h2>
		<p>Muslim, Libyan, and a Software Engineer</p>
    <p>Backend Engineer interested in System Design, Data Engineering and FOSS</p>
		<p>Simple man who strives to simplify the complicated without sacrificing correctness</p>
		<p>Goal in life is to be a key to goodness and leave behind a legacy of goodness</p>

		<h2 class="mb-4">projects</h2>

		<ul class="mb-8 list-inside list-disc">
			<li>
				<strong><a href="http://github.com/zizouhuweidi/bayt-alhikmah">bayt-alhikmah</a></strong> knowledge
				center
			</li>
			<li>
				<strong><a href="http://github.com/zizouhuweidi/dahaa-backend">dahaa</a></strong> quiz game where
				you bullshit your friends
			</li>
			<li>
				<strong><a href="http://github.com/zizouhuweidi/jester">jester</a></strong> cli that tells shit
				jokes
			</li>
			<li>
				<strong
					><a href="http://github.com/zizouhuweidi/slander-detection">slander-detection</a></strong
				> slander detection model
			</li>
		</ul>

		<h2 class="mb-4">skills</h2>
		<ul class="list-inside list-disc">
			<li><strong>Programming Languages:</strong> Go, Python, TyepeScript, C#</li>
      <li><strong>Tools:</strong> Postgres, MySQL, Redis, RabbitMQ, Kafka, Docker, Git</li>
		</ul>
	</div>
</PageLayout>
