---
import SocialIcon from "../components/SocialIcon.astro";
---

<div id="social" class="flex flex-row my-8">
  <div class="mr-4">
    <SocialIcon
      icon="fa-brands:github"
      label="github"
      url="https://www.github.com/zizouhuweidi"
    />
  </div>
  <div class="mr-4">
    <SocialIcon
      icon="fa-brands:twitter"
      label="twitter"
      url="https://www.twitter.com/zizouhuweidi"
    />
  </div>
  <!-- <div class="mr-4"> -->
  <!--   <SocialIcon icon="fa-brands:dev" label="dev" url="https://www.dev.to/" /> -->
  <!-- </div> -->
  <!-- <div class="mr-4"> -->
  <!--   <SocialIcon -->
  <!--     icon="ic:round-email" -->
  <!--     label="email" -->
  <!--     url="zubeir.huweidi@gmail.com" -->
  <!--   /> -->
  <!-- </div> -->
  <!-- <div class="mr-4"> -->
  <!--   <SocialIcon -->
  <!--     icon="fa-brands:linkedin" -->
  <!--     label="linkedin" -->
  <!--     url="https://www.linkedin.com/in/el-zubeir-huweidi-900899234/" -->
  <!--   /> -->
  <!-- </div> -->
  <!-- <div> -->
  <!--   <SocialIcon -->
  <!--     icon="ic:baseline-list-alt" -->
  <!--     label="CV" -->
  <!--     url="https://www.vercel/" -->
  <!--   /> -->
  <!-- </div> -->
</div>
